* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Helvetica Neue', sans-serif;
}

.header-container{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.header-logo {
    font-size: 20px;
}

.header {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px;
    flex-shrink: 1;
    
}

.header-links {
    display: flex;
    gap: 2rem;
}

.header-links a {
    text-decoration: none;
    color: white;
}

.home-container {
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-shrink: 1;
    

}

.website-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 225px;
    gap: 5px;
    flex-shrink: 1;
    margin-right: 75px;
    margin-bottom: 8px;
}


.sign-up {
    background-color: #3882F6;
    border: white 2px solid;
    border-radius: 8px;
    color: white;
    width: 80px;
    padding: 5px;
    flex-shrink: 1;
    margin-top: 8px;
}

.right-box {
    width: 200px;
    flex-shrink: 1;
    background-color: lightgrey;
    border-radius: 8px;
}


.gallery-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 2rem;
}

.gallery-container > * {
    flex-shrink: 1;
}
.title-gallery {
    margin-top: 40px;
}

.gallery-images {
    display: flex;
    width: 700px;
    height: 350px;
}

.image-containers {
    display: flex;
    width: 700px;
    height: 220px;
    justify-content: space-around;
    flex-wrap: wrap;
}


.image-container {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: 1rem;
}

.image {
    border: 4px #1f2937 solid;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    
}

.image-container .text {
    margin-top: 5px;
    flex-shrink: 1;
}

.quote-container {
    background-color: #E5E7EB;
    height: 350px;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.quote {
    display: flex;
    flex-direction: column;
    width: 725px;
    height: 200px;
    flex-wrap: wrap;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
}

.quote > * {
    font-size: 24px;
    flex-shrink: 1;
    margin: 20px;
    padding: 5px;
    flex-wrap: wrap;
}

.quote.text {
    flex-shrink: 1
}

.author {
    align-self: flex-end;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 40px;
    flex-shrink: 1;
}

.product-container {
    background-color: white;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-information{
    display: flex;
    flex-shrink: 1;
    width: 650px;
    justify-content: space-around;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 30px;
}

.product {
    background-color: #3882F6;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    width: 80px;
    padding: 5px;
    align-self: center;
    flex-wrap: wrap;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 1;
}

.product-text{
    padding: 5px;
    font-size: 15px;
    flex-shrink: 1;
}

.product-short {
    padding: 5px;
    font-size: 12px;
    flex-shrink: 1;
}


.website-footer-container {
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.website-footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.website-photo {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}



